/Users/tc/Dropbox/dev/github/Trading-Algos-By-Moon-Dev/coinglass-liqudations/dontshareconfig.py
coinglass-liqudations/dontshareconfig.py
lowcapgem_algo/donstshareconfig.py
mexc_bots/dontshareconfig.py